# Ignore all .jpg and .png files
*.jpg
*.png

# Ignore all .txt files
*.txt

# Ignore data files
*.xlsx
*.csv
*.log
*.json

# Ignore all files in data and cache directories
*/input_data/*
*/training_data/*
*_cache/*
*/__pycache__/*

# Ignore random files
*.dll
*.pak
*.testcase
*.pyc
*.pkl

# Ignore folders/projects not yet ready
/apps/RRF/